
/* Tab Container */
.tab-container {
    width: 553px;
    background: #fff;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Tab List */
.tab-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    background-color: #f8f8f8;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid #ddd;
}

/* Tab Item */
.tab-item {
    margin: 0;
}

/* Tab Link */
.tab-link {
    display: inline-block;
    padding: 15px 40px;
    text-decoration: none;
    color: #777;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-right: 1px solid #ddd;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
}

/* Remove border for the last tab */
.tab-item:last-child .tab-link {
    border-right: none;
}

/* Tab Hover Effect */
.tab-link:hover {
    background-color: #e9e9e9;
    color: #333;
}

/* Active Tab */
.tab-link.active {
    background-color: #e2f0f7;
    border-bottom: 2px solid #1790D2;
}

/* Tab Content Wrapper */
.tab-content-wrapper {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Tab Content */
.tab-content {
    display: none;
    text-align: center;
    color: #888;
    font-weight: 300;
    font-size: 15px;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeIn 0.5s ease 1 forwards;
}

    /* Show Active Tab Content */
    .tab-content.active {
        display: block;
    }
