@model ShampanBFRS.Models.Ceiling.CeilingVM
@{
    ViewBag.Title = "Budget List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(model => model.TransactionType)
@Html.HiddenFor(model => model.MenuType)
@Html.HiddenFor(model => model.BudgetType)

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">List Of Data(@Model.BudgetType)</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header p-2">
            <button type="button" title="Add New" data-url="/Ceiling/Ceiling/Create?TransactionType=@Model.TransactionType&MenuType=@Model.MenuType&BudgetType=@Model.BudgetType" 
                    onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                List Of Data
            </h3>
        </div>
        <div class="card-body">
            <div id="GridDataList"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/Ceiling/js/Controllers/CeilingController.js"></script>

    <script>
        $(document).ready(function () {
            CeilingController.init();
        });
    </script>
}
